# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
coverage

# The marker @nuxt/test-utils leaves to say its install hook has run
.nuxtrc

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VSC
.history
